* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: black;
  font-family: Inter, sans-serif;
  font-display: swap;
  scroll-behavior: smooth;
}

html {
  min-width: 100vw;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 32px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 500;
}

h4 {
  font-size: 18px;
  font-weight: 500;
}

h5 {
  font-size: 16px;
  font-weight: 500;
}

p {
  opacity: 0.7;
}