@keyframes AppereanceActiveLink {
    0% {
        scale: 1.5;
        opacity: 0;
    }

    100% {
        scael: 1;
        opacity: 0.3;
    }
}

@mixin AnimatedElement($x, $y, $scale, $name, $opacity, $time) {
    @keyframes #{$name} {
        0% {
            opacity: 0;
            transform: translateX($x) translateY($y) scale($scale);
        }
        100% {
            opacity: $opacity;
            transform: translateX(0) translateY(0) scale(1);
        }
    }

    & {
        animation: #{$name} $time ease-in-out forwards;
        backface-visibility: hidden;
        will-change: opacity, transform;
        -webkit-font-smoothing: antialiased;
    }
}

p, h1, h2, h3, h4, h5, h6, img, li, a, hr {
    @media (max-width: 768px) {
        opacity: 1 !important;
        transform: none !important;
        animation: none !important;
    }
}

@media (min-width: 769px) {
    p {
        opacity: 0;
        transform: translateY(30px);
    }
    h1, h2, h3, h4, h5, h6 {
        opacity: 0;
        transform: translateY(-30px);
    }
    img:not(.no_animated) {
        opacity: 0;
        transform: scale(0.8);
    }
    a {
        opacity: 0;
        transform: translateX(-50px);
    }
    hr {
        opacity: 0;
        transform: translateX(-100px);
    }

    .animated_p { @include AnimatedElement(0, 30px, 1, p, 0.7, 0.7s); }
    .animated_h { @include AnimatedElement(0, -30px, 1, h, 1, 0.7s); }
    .animated_img { @include AnimatedElement(0, 0, 0.8, img, 1, 0.5s); }
    .animated_li { @include AnimatedElement(-50px, 0, 1, li, 1, 0.7s); }
    .animated_hr { @include AnimatedElement(-100px, 0, 1, hr, 1, 0.7s); }
}

//
.link_active {
    position: relative;

    &::before {
        content: '';
        background-color: #515a61;
        opacity: 0.3;
        position: absolute;
        width: 150%;
        height: 300%;
        left: -25%;
        top: -100%;
        border-radius: 1000px;
        z-index: -1;
        animation: AppereanceActiveLink 0.5s ease-in-out;
    }
}

@media (width < 900px) {
    .link_active {
        &::before {
            background-color: #6c8598;
        }
    }
}