@use "sass:math";

$quantity-slides: 55;

@keyframes scrolling {
    @for $i from 0 through ($quantity-slides - 1){
        #{math.percentage(math.div($i, ($quantity-slides - 1)))}{
            transform: translateX(-#{$i * 100%});
        }
    }
}

.slider {
    width: 100%;
    display: grid;
    place-items: center;
    padding: 5%;

    .slider__box {
        width: 100%;
        max-width: 1344px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;

        .box__button{
            max-width: 5%;
            min-width: 5%;
            aspect-ratio: 2/5;
            background-color: transparent;
            border: none;
            font-size: calc(100% * 10);
            background-image: url(/images/arrow_right_slide.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            transition: opacity 0.1s ease-in-out;

            &:first-of-type{
                rotate: 180deg;
            }

            &:hover{
                opacity: 0.8;
            }

            &:active{
                scale: 0.98;
            }
        }

        .box__window {
            max-width: 85%;
            min-width: 85%;
            aspect-ratio: 2/2.5;
            max-height: 80vh;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            position: relative;

            .window__track_animation{
                animation: scrolling #{$quantity-slides * 4}s cubic-bezier(0.5, 0.1, 0.5, 1.0) infinite;
                animation-delay: 3s;
            }

            .window__track {
                display: flex;
                height: 100%;
                width: 600%;
                transition: transform var(--time-translate-x) ease-in-out;

                .window__element {
                    min-width: 100%;
                    min-height: 100%;
                    position: relative;
                }
            }
        }
    }
}