.advantages {
    width: 100%;
    min-height: 100vh;
    height: auto;
    position: relative;

    .advantages__article_first {
        width: 100%;
        height: 100vh;
        background-image: url("/images/advantages_backg.png");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px 30px 0;

        .article_first__box {
            width: 100%;
            max-width: 1344px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 40px;

            .box__title {
                text-align: center;
            }

            .box__description {
                font-size: 18px;
                font-weight: 400;
                width: 80%;
                text-align: center;
            }

            .box__roadmap {
                width: 100%;
                height: 50%;
                margin-top: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 20px;
                padding: 0 10px;

                .roadmap__item {
                    border: 1px solid black;
                    width: 30%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    border-radius: 20px 20px 80px 80px;
                    padding: 15px;
                    transition:
                        transform 0.2s ease-in-out,
                        box-shadow 0.1s ease-in-out;
                    box-shadow: 3px 3px 10px 6px rgb(0 65 66 / 47.6%);
                    overflow: hidden;

                    .item__title {
                        width: 100%;
                        text-align: center;
                        color: black;
                    }

                    .item__list_points {
                        width: 93%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;

                        .list_points__point {
                            color: black;
                            font-size: 14px;
                            list-style-type: circle;

                            .point__main_text {
                                color: black;
                                font-weight: 900;
                                font-size: 16px;
                            }
                        }
                    }

                    &:hover {
                        transform: translateY(-5px);
                        cursor: pointer;
                    }

                    &:active {
                        box-shadow: 0 0 10px 6px rgb(0 65 66 / 47.6%);
                    }
                }
            }
        }
    }
}

@media (width < 1200px) {
    .article_first__box {
        row-gap: 30px !important;

        .box__description {
            font-size: 16px !important;
        }

        .box__title {
            font-size: 28px !important;
        }

        .box__roadmap {
            column-gap: 10px !important;

            .roadmap__item {
                height: 80% !important;
                min-width: 270px !important;
                min-height: 400px !important;
                border-radius: 10px 10px 50px 50px !important;
                row-gap: 20px !important;

                .item__title {
                    font-size: 20px !important;
                }

                .item__list_points {
                    height: 80% !important;

                    .list_points__point {
                        font-size: 12px !important;

                        .point__main_text {
                            font-size: 14px !important;
                        }
                    }
                }
            }
        }
    }
}

@media (width < 900px) {
    .advantages {
        min-height: 1650px;

        .advantages__article_first {
            padding-bottom: 20px !important;
            min-height: 1650px !important;

            .box__roadmap {
                flex-direction: column !important;
                row-gap: 50px !important;
                height: 70% !important;

                .roadmap__item {
                    padding: 15px !important;
                    min-width: 300px !important;
                    min-height: 350px !important;

                    .item__list_points {
                        row-gap: 20px !important;
                    }
                }
            }
        }
    }
}