.home {
    width: 100%;
    height: calc(100vh);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;


    .home__article_first {
        * {
            color: white;
        }

        width: 100%;
        height: calc(100%);
        display: flex;
        justify-content: center;
        background-image: linear-gradient(rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
        url(/images/backg_home.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: local;
        padding: 0 30px;

        .article_first__box {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 1344px;
            height: 100%;
            justify-content: center;
            row-gap: 40px;

            .box__title {
                font-weight: 500;
                font-family: Inter, sans-serif;
                font-size: 48px;
                width: 30%;
                // text-shadow: 0 0 10px black;
            }

            .box__description {
                font-size: 18px;
                font-weight: 400;
                width: 40%;
                // text-shadow: 0 0 10px black;
                opacity: 1;
            }

            .box__buttons_box {
                display: flex;
                column-gap: 40px;

                @mixin StylesButtons ($backg_color) {
                    font-size: 16px;
                    font-weight: 700;
                    color: black;
                    width: 195px;
                    height: 55px;
                    box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.615);
                    background-color: $backg_color;
                    display: grid;
                    place-items: center;
                    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.7s ease-in-out;
                    border: 1px solid #82f7fb2b;
                    border-radius: 1000px;

                    &:active {
                        box-shadow: 0px 0px 4px 0 #82f7fb77 !important;
                    }
                }

                .buttons_box__one_button {
                    @include StylesButtons(white);
                    color: #515A61;

                    &:hover {
                        background-color: #a6a6a6;
                        color: white;
                    }
                }

                .buttons_box__two_button {
                    @include StylesButtons(#a6a6a6);
                    color: white;

                    &:hover {
                        background-color: white;
                        color: #515A61;
                    }
                }
            }
        }
    }
}

@media (width < 1200px) {
    .box__title {
        font-size: 42px !important;
    }

    .box__description {
        font-size: 16px !important;
    }

    .buttons_box__one_button {
        width: 185px !important;
        height: 45px !important;
        font-size: 14px !important;
    }

    .buttons_box__two_button {
        width: 185px !important;
        height: 45px !important;
        font-size: 14px !important;
    }
}

@media (width < 1000px) {
    .box__title {
        font-size: 32px !important;
    }

    .box__description {
        width: 60% !important;
        font-size: 14px !important;
    }

    .buttons_box__one_button {
        width: 165px !important;
        height: 40px !important;
        font-size: 12px !important;
    }

    .box__buttons_box {
        column-gap: 20px !important;
        flex-wrap: wrap;

        .buttons_box__two_button {
            width: 165px !important;
            height: 40px !important;
            font-size: 12px !important;
        }
    }
}