@mixin StylesBoxesServices($justify, $margin) {
    width: 100%;
    display: flex;
    justify-content: $justify;
    gap: 30px;
    margin-top: $margin;
}

.price_list {
    width: 100%;
    min-height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .price_list__article_first {
        width: 100%;
        max-width: 1344px;
        min-height: calc(100vh - 80px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 40px;
        padding: 50px 30px 30px;

        .article_first__description {
            font-size: 16px;
            font-weight: 400;
        }

        .article_first__title {
            text-align: center;
        }

        .article_first__box_services {
            @include StylesBoxesServices(center, 60px);

            .box_services__card {
                width: 30%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-evenly;
                row-gap: 15px;
                padding: 10px;
                cursor: pointer;
                transition:
                    box-shadow 0.2s ease-in-out,
                    scale 0.2s ease-in-out;

                &:hover {
                    box-shadow: 0 0 10px 6px rgb(0 0 0 / 10%);
                }

                &:active {
                    scale: 0.99;
                    box-shadow: 0 0 0 0 transparent;
                }

                .card__icon {
                    width: 100%;
                    height: 230px;
                    position: relative;
                }

                .card__description {
                    font-size: 14px;
                    font-weight: 400;
                    width: 100%;
                }
            }
        }
    }

    .price_list__article_last {
        width: 100%;
        max-width: 1344px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 40px;
        padding: 0 30px;

        .article_last__title {
            width: 90%;
        }

        .article_last__description {
            width: 60%;
            font-weight: 400;
            font-size: 16px;
        }

        .article_last__box_services {
            align-items: flex-start;

            @include StylesBoxesServices(space-between, 30px);

            .box_services__card {
                width: 30%;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                row-gap: 10px;
                cursor: pointer;
                transition: scale 0.15s ease-in-out;

                &:hover {
                    scale: 1.02;
                }

                &:active {
                    scale: 1;
                }

                .card__preview {
                    width: 100%;
                    aspect-ratio: 1.7/1;
                    position: relative;
                    border-radius: 10px;
                }

                .card__title {
                    width: 100%;
                }

                .card__description {
                    font-size: 14px;
                    font-weight: 400;
                    width: 100%;
                }
            }
        }
    }
}

@media (width < 1200px) {
    .price_list__article_first {
        row-gap: 30px !important;
        margin: 0px;
    }

    .article_first__title {
        font-size: 28px !important;
    }

    .article_first__description {
        font-size: 14px !important;
    }

    .article_last__title {
        font-size: 28px !important;
    }

    .article_last__description {
        font-size: 14px !important;
    }

    .card__title {
        font-size: 20px !important;
    }

    .card__description {
        font-size: 12px !important;
    }
}

@media (width < 900px) {
    .price_list {
        height: calc(1300px + 1300px) !important;

        .price_list__article_first {
            padding: 50px 30px 0 !important;
            row-gap: 20px !important;
            min-height: 1300px !important;

            .article_first__description {
                width: 80% !important;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }

            .article_first__box_services {
                flex-direction: column;
                align-items: center;
                row-gap: 50px !important;
                margin-top: 10px !important;

                .box_services__card {
                    height: auto !important;
                    width: 60% !important;
                }
            }
        }

        .price_list__article_last {
            padding: 0 30px 50px !important;
            row-gap: 20px !important;
            min-height: 1300px !important;

            .article_last__description {
                text-align: center;
                width: 80% !important;
                margin-left: auto;
                margin-right: auto;
            }

            .article_last__title {
                width: 100% !important;
                text-align: center;
            }

            .article_last__box_services {
                flex-direction: column !important;
                align-items: center !important;
                row-gap: 50px !important;

                .box_services__card {
                    width: 50% !important;
                }
            }
        }
    }
}

@media (width < 600px) {
    .price_list {
        height: calc(1300px + 1500px) !important;

        .price_list__article_last {
            min-height: 1300px !important;

            .article_last__box_services {
                .box_services__card {
                    width: 80% !important;
                }
            }
        }

        .price_list__article_first {
            min-height: 1500px !important;

            .article_first__box_services {
                .box_services__card {
                    width: 80% !important;
                }
            }
        }
    }
}